<footer>
    
            <div class=" fixed-bottom" style="background-color: rgb(253 205 239);">
                <div class="container text-center mt-3 mb-3 text-muted small">
                    Copyright &copy; <%= new Date().getFullYear() %> DreamSpace by Mia. All right reserved.
                </div>
            </div>
        </footer>
       
    </body>
</html>
