.niceColor {
    color: #62c5ed
}

.navbar{
    background-color: rgb(253 205 239) !important;
}



.productImage{
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
}


.productEditImage{
    border-radius: 10px;
    width: 300px;
}

.myButton{
    margin-top: 10px;
    background-color: rgb(253 205 239);
}

.card-spacer{
    margin-bottom: 20px;
}

.blogImage{
    border-radius: 10px;
    height: 220px;
    object-fit: cover;
}