<%- include ('../partials/header.ejs') %>

<section>
    <div class="container">
        <br>

        <div class="alert alert-primary text-center" role="alert">
            View your purchase History!
        </div>

        <br>
            <h3>Payment Page</h3>
            <p>This is my Payment page</p>
    </div>

</section>

    <br><br>
    
<section>
    <div class="container text-center">
        <h2 class="text-center">Your Cart Items</h2>
        <p>Pay using credit card</p>
        <!--<a href="/cart/checkout" class="btn btn-primary">Pay Now : Rs <%- total %></a> -->
    </div>
</section>

    <br><br> <br>



<%- include ('../partials/footer.ejs') %>